extends layout

block content
  .form-container
    h1 Forgot Password

    form(method="POST", action="/forgot-password")
      input(type="email", name="email", placeholder="Enter your email", required)
      
      button(type="submit") Send Reset Link