extends layout

block content
  h2 Home
  p Welcome to StudyBuddy Page
  p QuickTap:
  ul
    li: a(href="/users") Users
    li: a(href="/login") Login
    li: a(href="/register") Register
    li: a(href="/streaks") Streaks
    li: a(href="/listings") Study Sessions