doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title || "StudyBuddy"
    link(rel="stylesheet" href="/css/style.css")
  body
    header
      h1 StudyBuddy
      nav
        a(href="/") Home
        |  · 
        a(href="/users") Users
        |  · 
        a(href="/login") Login
        |  · 
        a(href="/register") Register
        |  · 
        a(href="/streaks") Streaks
        |  ·
        a(href="/listings") Listing                
           
    hr
    main
      block content