extends layout

block content
  //Olivia: layout of listing page editted to show study sessions:
  h2 Study Listings
    
    if listings.length === 0 
   p No listings available yet.
    else
      ul
            each listing in listings
             li
              strong #{listing.title}
              |  - #{listing.module}
              |  - #{listing.location}
