extends layout

block content
  h2 Login

  form(method="POST" action="/login")
    div
      label(for="email") Email
      br
      input(type="email" id="email" name="email" required)

    br

    div
      label(for="password") Password
      br
      input(type="password" id="password" name="password" required)

    br

    a(href="/forgot-password") Forgot your password?

    button(type="submit") Login