extends layout

block content
  h2 Register

  form(method="POST" action="/register")
    div
      label(for="first_name") First Name
      br
      input(type="text" id="first_name" name="first_name" required)

    br

    div
      label(for="last_name") Last Name
      br
      input(type="text" id="last_name" name="last_name" required)

    br

    div
      label(for="degree") Degree
      br
      select(id="degree" name="degree" required)
        option(value="") Select a degree
        option(value="Cybersecurity") Cybersecurity
        option(value="Business & Computing") Business & Computing
        option(value="Computer Science") Computer Science
        option(value="Computing") Computing
        option(value="Digital Media") Digital Media

    br

    div
    label(for="email") Email
    br
    input(type="email" name="email" required)

    button(type="submit") Register